@import '../utils/variables';
@import '../utils/mixins';
@import '../utils/extend';
.portal-container {
    .portal-background {
        @extend %backgroundimage;
        @include filter(3px);
    }
    .navbar {
        background: transparent;
        border: none;
        box-shadow: none;
    }
    .portal-row-container {
        margin-left: 150px;
        margin-top: 80px;
        height: 250px;
        width: 1000px;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .portal-row-img {
            margin: auto;
            .img-fluid {
                width: 280px;
                border: 3px solid $darkGreen;
                border-radius: 8px;
                box-shadow: 0 5px 50px rgba(0, 0, 0, 0.4);
            }
        }
    }
}

/* Change styles for login screens on extra different screen */

@media screen and (max-width: 1024px) {
    .portal-container {
        .portal-row-container {
            margin-left: 0px;
            justify-content: flex-start;
        }
    }
}

@media screen and (max-width: 411px) {
    .portal-container {
        .portal-row-container {
            margin-left: 0px;
            justify-content: flex-start;
            width:100%;
            flex-direction: column;
        }
    }
}