.form-control {
    max-width: 100%;
    width: 2000px;
    @include border($grey);
    border-radius: 6px;
    &:focus {
        @include border($darkGrey);
        box-shadow: none;
    }
}

.btn-green {
    margin-top: 5px;
    @include border($darkGreen);
    border-radius: 6px;
    color: $darkGreen;
    cursor: pointer;
    background: $white;
    width: 100px;
    font-size: 0.9em;
    &:hover {
        color: $white;
        background: $darkGreen;
    }
}

.btn-lightgreen {
    margin-top: 5px;
    @include border($lightGreen);
    border-radius: 6px;
    color: $black;
    cursor: pointer;
    background: $lightGreen;
    width: 100px;
    font-size: 0.9em;
    padding: 3px 6px;
    &:hover {
        color: $black;
        background: $white;
        @include border($lightGreen);
    }
}

.floatright{
    float:right;
}

.rightradius{
    border-radius: 6px 0 0 6px;
}

.leftradius{
    border-radius: 0 6px 6px 0;
}

.uploadbuttons{
    padding-top:10px;
}
.table-responsive {
.table {
    width: 100%;
    max-width: 100%;
    // Cells
    > thead{
        >tr{
            > th {
                padding: 10px 30px;
                line-height: 0.9rem;
                color:$white;
                background-color: $midGreen;
            }
        }
    }
    > tbody{
        > tr {
            > th,
            > td {
              padding: 5px 30px;
              line-height: 0.9rem;
              vertical-align: middle;
              @include border($grey);
            }
    }
      
    }
    // Bottom align for column headings
    > thead > tr > th {
      vertical-align: middle;
      @include border($grey);
    }
    // Remove top border from thead by default
    > caption + thead,
    > colgroup + thead,
    > thead:first-child {
      > tr:first-child {
        > th,
        > td {
          border-top: 0;

        }
      }
    }
    // Account for multiple tbody instances
    > tbody + tbody {
        @include border($grey);
    }

  }
}

.checkboxes{
    label {
      display: inline-block;
      user-select: none;
      position: relative;
      width: 23px;
      height: 23px;
      @include border($grey);
      @include border-radius(6px);
    //   @include transition-duration(0.25s);
      cursor: pointer;
      overflow: hidden;
      color: rgba(0, 0, 0, 0.1);
      text-align: center;
      margin: 0.8rem;
      &:after {
        content: '';
        display: block;
        margin-left:8px;
        margin-top:4px;  
        width: 7px;
        height: 13px;
        @include border($grey);
        border-width: 0 4px 4px 0;
        // @include transform(rotate(45deg)); 
        transform: rotate(45deg);
      }
      &:hover {
        @include border($darkGrey);
        color: $darkGrey;
      }
      &:active {
        // @include transition-duration(0);
        -webkit-filter: brightness(0.8); 
      }
    }
    
    input {
        display: none;
      &:checked + {
        label {
          color: $greenCheckbox;
        }
        .green-background {
          border-color: $greenCheckbox;
          background: $greenCheckbox;
          &:after{
              content: '';
              display: block;
              margin-left:8px;
              margin-top:4px;  
              width: 7px;
              height: 13px;
              border: solid rgba(255, 255, 255, 1);
              border-width: 0 4px 4px 0;
              transform: rotate(45deg);
          }
            }
        label {
          @include animation(boom 0.5s ease);
        }
      }
    }
    }
    