@mixin border($color) {
    border: 1px solid $color;
}

@mixin background-size($value){
    -webkit-background-size: $value;
    -moz-background-size: $value;
    -o-background-size: $value;
    background-size: $value;
}

@mixin filter($value){
    -webkit-filter: blur($value);
    -moz-filter: blur($value);
    -o-filter: blur($value);
    -ms-filter: blur($value);
    filter: blur($value);
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -o-border-radius: $radius;
    -ms-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
  }
  
  @mixin animation($value) {
    -webkit-animation: $value;
    -moz-animation: $value;
    -ms-animation: $value;
    -o-animation: $value;
    animation: $value;
  }

  @mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
      @content
    }
    @-moz-keyframes #{$name} {
      @content
    }
    @-ms-keyframes #{$name} {
      @content
    }
    @-o-keyframes #{$name} {
      @content
    }
    @keyframes #{$name} {
      @content
    }
  }