$blue: rgb(88, 220, 243);
$grey: #ccc;
$darkGrey: rgba(58, 54, 54, 0.4);
$black: rgba(0, 0, 0, 0.945);
$white: #fff;
$midGreen: #7ea831;
$darkGreen: #506931;
$lightGreen: #cbdb2a;
$purple: #2e3192;
$greenCheckbox: #269b0a;



$screen-xs-max: 768px;